/* =========== Global variables ============ */

:root {
    --logo_color: #2c2c2c;
    --menu-color: #505050;
    --hover-color: #2c2c2c;
    --menu-background-color: #ccd9e7;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

/* ==================================== HEADER ==================================== */

header {
    padding: 35px 0;
    border-bottom: solid var(--menu-background-color) thin;
}

@font-face {
    font-family: Arizona-Regular;
    src: url("../font/Arizonia/Arizonia-Regular.ttf");
}

.logo {
    text-align: center;
    margin-bottom: 35px;
}

.logo-a {
    font-family: Arizona-Regular;
    font-size: 2.5em;
    color: var(--logo_color);
    text-decoration: none;
}

.menu {
    display: flex;
    justify-content: space-around;
    max-width: 1000px;
    margin: 0 auto;
}

#hamb-menu,
.ham-menu-label {
    display: none;
}

.hamburger-icon {
    max-width: 2em;
}

.main-menu ul {
    padding: 0;
    margin: 0;
    z-index: 100;
    width: max-content;
}

.main-menu li {
    display: inline;
    margin: 0 30px;
    list-style-type: none;
}

.menu-a {
    font-size: 1.5em;
    color: var(--menu-color);
    padding: 5px 25px;
    text-decoration: none;
    transition-property: all;
    transition-duration: 0.5s;
}

.smaller-menu {
    font-size: 1em;
}

.menu-a:hover {
    cursor: pointer;
    color: var(--hover-color);
    background-color: var(--menu-background-color);
}

.active {
    color: var(--hover-color);
    background-color: var(--menu-background-color);
}

.search-field {
    padding: 3px;
    font-size: medium;
}

/* ==================================== main ==================================== */
.main-section {
    max-width: 1250px;
    margin: 0 auto;
}

.landing-section {
    background-image: url("../images/woman-landing.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 36vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-left: 60%;
    padding-right: 10%;
}

.landing-text-div {
    text-align: center;
}

.landing-text {
    font-size: xx-large;
}

.landing-cta {
    text-decoration: none;
    color: white;
    font-size: xx-large;
    background-color: green;
    padding: 10px 30px;
}

/* ============= latest blogs ================ */

.latest-blogs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 40px;
}

.tab {
    display: flex;
    gap: 20px;
}

.image-container {
    background-image: url("../images/casserole-dish.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    background-position: center;
}

.image-href {
    display: contents;
}

.text-container {
    margin-bottom: 25px;
}

.description-title,
.description {
    margin: 5px auto;
}

.elementcta-div {
    margin: 20px auto;
}

.element-cta {
    font-size: smaller;
}

/* ============= carousel ================ */
.carousel {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.carousel-list {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.carousel-button {
    height: 130px;
    font-size: xx-large;
    background-color: #dedede;
    border: none;
    transition-property: all;
    transition-duration: 0.5s;
}

.carousel-button:hover {
    background-color: #9f9f9f;
}

/* ====================== footer ======================= */
.footer-section {
    color: white;
    background-color: #3a3a3a;
    display: flex;
    justify-content: space-around;
    margin: 25px auto;
    padding: 15px 0px;
}

.menu-footer {
    text-decoration: none;
    font-size: 1em;
    color: white;
    padding: 2px;
}

.menu-footer:hover {
    text-decoration: underline;
}

.menu-footer-div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.social-media {
    display: flex;
    align-items: center;
    gap: 10px;
}

.icon {
    width: 2em;
}

.icon:hover {
    cursor: pointer;
}